* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu' , sans-serif;
}
/***** HEADER SECTION *****/
#header {
    background-image: url('../images/big2.jpg');
    height: 70vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a {
    float: right!important;
    color: #fff!important;
    margin-right: 20px;
    text-shadow: 1px 1px 5px #000000;
}
.navbar-brand img {
    width: 120px;
    margin-top: 30px;
    margin-top: 10px;
}
.navbar-toggler {
    margin-right: 20px;
    color: #fff;
    border: none!important;
    outline: none!important;
}
.navbar-toggler .fa {
    color: #fff;
    font-size: 26px;
}
.fixed-top.scrolled {
    background-color: #0c7f90!important;
    transition: background-color 200ms linear;
    opacity: 0.9;
}
/***** WELCOME SECTION *****/
.welcome {
    padding: 50px 80px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    border-radius: 200px 200px 20px 20px;
}
.welcome h1 {
    font-size: 40px;
    color: #505050;
    font-weight: 700;
}
.welcome p {
    font-size: 18px;
    color: #6b6b6b;
}
.welcome  .read-more {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #0c7f90;
    color: #fff;
}
.welcome .btn:focus {
    box-shadow: none;
}
/***** ABOUT SECTION *****/
#about {
    padding-top: 40px;
    padding-bottom: 50px;
}
#about ul {
    list-style-position: inside;
}
#about img {
    width: 380px;
}
#about h3 {
    margin: 20px 0px;
    font-size: 30px;
    color: #157988;
    font-weight: 400;
}
.about-content {
    margin-top: 60px;
}
.about-content li {
    font-size: 15px;
    color: #0c7f90;
    font-weight: 700;
    line-height: 1.9;
}
.about-p {
    font-weight: 300;
}